<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.123" targetFramework="net461" />
  <package id="JsonNetMediaTypeFormatter" version="1.1.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="Newton.JsonMediaTypeFormatter" version="1.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="RestSharp" version="106.13.0" targetFramework="net461" />
  <package id="System.Json" version="4.7.1" targetFramework="net461" />
</packages>